ATMB24/ATMB24.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:csv="http://www.ibm.com/dfdl/CommaSeparatedFormat" xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" xmlns:fn="http://www.w3.org/2005/xpath-functions" xmlns:ibmDfdlExtn="http://www.ibm.com/dfdl/extensions" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions">


    <xsd:import namespace="http://www.ibm.com/dfdl/CommaSeparatedFormat" schemaLocation="IBMdefined/CommaSeparatedFormat.xsd"/>
    <xsd:annotation>
		<xsd:appinfo source="http://www.ogf.org/dfdl/">
			<dfdl:format documentFinalTerminatorCanBeMissing="yes" encoding="{$dfdl:encoding}" escapeSchemeRef="" ref="csv:CommaSeparatedFormat"/>
		</xsd:appinfo>
	</xsd:annotation>


	<xsd:element ibmSchExtn:docRoot="true" name="ATMB24">
		<xsd:complexType>
			<xsd:sequence dfdl:separator="">
				<xsd:element dfdl:terminator="%NL;%WSP*;" name="record">
					<xsd:complexType>
						<xsd:sequence dfdl:separatorSuppressionPolicy="trailingEmpty">
							<xsd:element ibmDfdlExtn:sampleValue="value1" minOccurs="0" name="field1" type="xsd:string"/>
							<xsd:element ibmDfdlExtn:sampleValue="value2" minOccurs="0" name="field2" type="xsd:string"/>
							<xsd:element ibmDfdlExtn:sampleValue="value3" minOccurs="0" name="field3" type="xsd:string"/>
                            <xsd:element ibmDfdlExtn:sampleValue="value4" minOccurs="0" name="field4" type="xsd:string"/>
                            <xsd:element ibmDfdlExtn:sampleValue="value5" minOccurs="0" name="field5" type="xsd:string"/>
                            <xsd:element ibmDfdlExtn:sampleValue="value6" minOccurs="0" name="field6" type="xsd:string"/>
                            <xsd:element ibmDfdlExtn:sampleValue="value7" minOccurs="0" name="field7" type="xsd:string"/>
                            <xsd:element ibmDfdlExtn:sampleValue="value8" minOccurs="0" name="field8" type="xsd:string"/>
                            <xsd:element ibmDfdlExtn:sampleValue="value9" minOccurs="0" name="field9" type="xsd:string"/>
                            <xsd:element ibmDfdlExtn:sampleValue="value10" minOccurs="0" name="field10" type="xsd:string"/>
                            <xsd:element ibmDfdlExtn:sampleValue="value11" minOccurs="0" name="field11" type="xsd:string"/>
                            <xsd:element ibmDfdlExtn:sampleValue="value12" minOccurs="0" name="field12" type="xsd:string"/>
                            <xsd:element ibmDfdlExtn:sampleValue="value13" minOccurs="0" name="field13" type="xsd:string"/>
                            <xsd:element ibmDfdlExtn:sampleValue="value14" minOccurs="0" name="field14" type="xsd:string"/>
                            <xsd:element ibmDfdlExtn:sampleValue="value15" minOccurs="0" name="field15" type="xsd:string"/>
                            <xsd:element ibmDfdlExtn:sampleValue="value16" minOccurs="0" name="field16" type="xsd:string"/>
                            <xsd:element ibmDfdlExtn:sampleValue="value17" minOccurs="0" name="field17" type="xsd:string"/>
                            <xsd:element ibmDfdlExtn:sampleValue="value18" minOccurs="0" name="field18" type="xsd:string"/>
                            <xsd:element ibmDfdlExtn:sampleValue="value19" minOccurs="0" name="field19" type="xsd:string"/>
                            <xsd:element ibmDfdlExtn:sampleValue="value20" minOccurs="0" name="field20" type="xsd:string"/>
                            <xsd:element ibmDfdlExtn:sampleValue="value21" minOccurs="0" name="field21" type="xsd:string"/>
                                                    <xsd:element ibmDfdlExtn:sampleValue="value22" minOccurs="0" name="field22" type="xsd:string"/>
                        </xsd:sequence>
					</xsd:complexType>
				</xsd:element>				
                			            </xsd:sequence>
		</xsd:complexType>
	</xsd:element>


</xsd:schema>