XMLInquiryRequest/xmlInquiry/request.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="request">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="systemId" type="xs:string" />
        <xs:element name="content">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Timestamp" type="xs:string" />
              <xs:element name="ClientId" type="xs:string" />
              <xs:element name="Provider" type="xs:string" />
              <xs:element name="reffNum" type="xs:string" />
              <xs:element name="DestinationBankCode" type="xs:unsignedByte" />
              <xs:element name="DestinationAcctNum" type="xs:unsignedInt" />
              <xs:element name="AccountNum" type="xs:unsignedInt" />
              <xs:element name="UserChannelId" type="xs:unsignedLong" />
              <xs:element name="CustomerReffNum" type="xs:string" />
              <xs:element name="Amount" type="xs:unsignedInt" />
              <xs:element name="TransactionType" type="xs:unsignedByte" />
              <xs:element name="SPRequirement" type="xs:string" />
              <xs:element name="MTID" type="xs:unsignedByte" />
              <xs:element name="EmployeeID" type="xs:unsignedInt" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>