XMLInquiryRequest/xmlInquiry/response.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="response">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="clientId" type="xs:string" />
        <xs:element name="provider" type="xs:string" />
        <xs:element name="content">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="SP_Intercept" type="xs:string" />
              <xs:element name="SP_Block" type="xs:string" />
              <xs:element name="AccountNum" type="xs:string" />
              <xs:element name="Timestamp" type="xs:string" />
              <xs:element name="reffNum" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>